body {
  background-color: #1b101c;
  color: rgba(255, 128, 18, 1);
  font-family: 'jgs5', monospace;
  font-size: 30px;
  line-height: 4vh;
  padding: 0 1rem 2rem 1rem;
  text-shadow: 0 0 5px rgba(255, 78, 0, 0.6);
}

body.no-js div.input {
  display: none;
}
noscript h1 {
  max-width: 960px;
  margin: 2em auto 1em;
}
noscript p {
  max-width: 960px;
  margin: 0 auto 0.5em;
}

body::after {
  background: rgba(18, 16, 16, 0.1);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

body::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size:
    100% 2px,
    3px 100%;
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

a,
#closer {
  color: #ff902f;
}

a:hover,
#closer:hover {
  color: #faca2c;
}

#closer {
  position: fixed;
  top: 2vh;
  right: 2vw;
  cursor: pointer;
  box-shadow: 0 0 15px black;
  background-color: #000 40;
  display: none;
}

footer {
  position: fixed;
  bottom: 2vh;
  left: 2vw;
  right: 2vw;
}

footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer nav div {
  width: 33%;
  box-shadow: 0 0 15px #000 40;
  background-color: #000 40;
}

footer nav div a {
  text-decoration: none;
}

footer nav div.index {
  text-align: center;
}

footer nav div.next {
  text-align: right;
}

#modal-wrapper {
  background: #00000060;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em;
}
#modal-wrapper div {
  background: black;
  margin: 6em auto;
  max-width: 80%;
  padding: 0.5em 2em;
  border: 1px solid #501750;
  border-radius: 1em;
  padding-bottom: 2em;
  overflow: auto;
}
#modal-wrapper div button {
  padding: 1em;
  font-family: 'jgs5';
  font-size: 30px;
  color: orange;
  background-color: #521452;
  border: 3px solid #8934b3;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.page-content {
  background: #fff;
  color: #000;
  border: 10px solid #f00;
  padding: 20px;
}

.page-content.hide {
  display: none;
}

.page-content h1 {
  line-height: 1em;
}

.page-content button {
  padding: 6px;
  font-size: 0.8em;
}

.alert {
  background-color: #ff8012;
  color: #fff;
  padding: 1vw 2vw;
}

.games {
  transition: opacity 3s ease-in;
  opacity: 1;
}

#decrunch {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  animation-name: decrunch;
  animation-duration: 0.25s;
  animation-iteration-count: 14;
  animation-timing-function: steps(1);
}

#decrunch.visible {
  display: block;
}

@media (prefers-reduced-motion) {
  #decrunch.visible {
    display: none;
  }
}

a {
  color: #ffa500;
}

span {
  margin-left: 2vw;
  margin-right: 0.6vh;
}

#input {
  width: 98.5vh;
  background: transparent;
  border: none;
  position: relative;
  bottom: 0.175vh;
  margin-top: 0.1vh;
  margin-left: 0.8vh;
}

#input,
.input,
.user {
  height: 4vh;
  font-family: 'jgs5', monospace;
  color: #ffa500;
  font-size: 3vh;
}

#input:focus {
  outline: none;
}

#output {
  padding: 2vw 2vw 0 2vw;
  font-family: 'jgs5', monospace;
}

/* Paragraph hack */
#output br {
  content: '';
  margin: 1em;
  display: block;
  font-size: 12px;
}

#output div {
  margin-bottom: 1vw;
  opacity: 1;
  transition: opacity 300ms ease-in;
}

#output div.invisible {
  opacity: 0;
}

#output div b {
  color: rgba(255, 174, 0, 1);
}

#output .room-name {
  font-family: 'Mono10';
  letter-spacing: 2px;
  font-size: 64px;
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 1;
  text-transform: uppercase;
}

#output div.img {
  font-family: monospace;
  font-size: 28px;
  white-space: pre;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1em;
  line-height: 1;
}

.input {
  display: flex;
}

/* Characters */
.android {
  background-color: #100a0e; /* #2b0b2b  */
  color: #090;
}

@keyframes blink {
  0% {
    background: #ffa500;
  }
  49% {
    background: #ffa500;
  }
  60% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #ffa500;
  }
}

@keyframes decrunch {
  /* Firefox and IE10 won't animate linear-gradients, so we fall back to full border color change */
  20% {
    background: #b8b8b8;
    background-image: linear-gradient(
      to bottom,
      #fff 5%,
      #000 5%,
      #000 10%,
      #b8b8b8 10%,
      #b8b8b8 16%,
      #5090d0 16%,
      #5090d0 23%,
      #98ff98 23%,
      #98ff98 28%,
      #808080 28%,
      #808080 33%,
      #484848 33%,
      #484848 40%,
      #c87870 40%,
      #c87870 46%,
      #472b1b 46%,
      #472b1b 51%,
      #a04800 51%,
      #a04800 57%,
      #f0e858 57%,
      #f0e858 62%,
      #181090 62%,
      #181090 69%,
      #50b818 69%,
      #50b818 78%,
      #a838a0 78%,
      #a838a0 86%,
      #68d0a8 86%,
      #68d0a8 95%,
      #882000 95%
    );
  }
  40% {
    background: #484848;
    background-image: linear-gradient(
      to bottom,
      #882000 10%,
      #68d0a8 10%,
      #68d0a8 12%,
      #a838a0 12%,
      #a838a0 18%,
      #50b818 18%,
      #50b818 27%,
      #181090 27%,
      #181090 38%,
      #f0e858 38%,
      #f0e858 41%,
      #a04800 41%,
      #a04800 56%,
      #472b1b 56%,
      #472b1b 61%,
      #c87870 61%,
      #c87870 66%,
      #484848 66%,
      #484848 68%,
      #808080 68%,
      #808080 75%,
      #98ff98 75%,
      #98ff98 77%,
      #5090d0 77%,
      #5090d0 92%,
      #b8b8b8 92%,
      #b8b8b8 94%,
      #000 94%,
      #000 97%,
      #fff 97%
    );
  }
  60% {
    background: #c87870;
    background-image: linear-gradient(
      to bottom,
      #fff 5%,
      #c87870 5%,
      #c87870 14%,
      #484848 14%,
      #484848 22%,
      #808080 22%,
      #808080 31%,
      #98ff98 31%,
      #98ff98 38%,
      #5090d0 38%,
      #5090d0 43%,
      #b8b8b8 43%,
      #b8b8b8 49%,
      #000 49%,
      #000 54%,
      #68d0a8 54%,
      #68d0a8 60%,
      #a838a0 60%,
      #a838a0 67%,
      #50b818 67%,
      #50b818 72%,
      #181090 72%,
      #181090 77%,
      #f0e858 77%,
      #f0e858 84%,
      #a04800 84%,
      #a04800 90%,
      #472b1b 90%,
      #472b1b 95%,
      #882000 95%
    );
  }
  80% {
    background: #68d0a8;
    background-image: linear-gradient(
      to bottom,
      #882000 5%,
      #68d0a8 5%,
      #68d0a8 14%,
      #a838a0 14%,
      #a838a0 22%,
      #50b818 22%,
      #50b818 31%,
      #181090 31%,
      #181090 38%,
      #f0e858 38%,
      #f0e858 43%,
      #a04800 43%,
      #a04800 49%,
      #472b1b 49%,
      #472b1b 54%,
      #c87870 54%,
      #c87870 60%,
      #484848 60%,
      #484848 67%,
      #808080 67%,
      #808080 72%,
      #98ff98 72%,
      #98ff98 77%,
      #5090d0 77%,
      #5090d0 84%,
      #b8b8b8 84%,
      #b8b8b8 90%,
      #000 90%,
      #000 95%,
      #fff 95%
    );
  }
  100% {
    background: #50b818;
    background-image: linear-gradient(
      to bottom,
      #fff 3%,
      #000 3%,
      #000 6%,
      #b8b8b8 6%,
      #b8b8b8 8%,
      #5090d0 8%,
      #5090d0 23%,
      #98ff98 23%,
      #98ff98 25%,
      #808080 25%,
      #808080 32%,
      #484848 32%,
      #484848 34%,
      #c87870 34%,
      #c87870 39%,
      #472b1b 39%,
      #472b1b 44%,
      #a04800 44%,
      #a04800 59%,
      #f0e858 59%,
      #f0e858 62%,
      #181090 62%,
      #181090 73%,
      #50b818 73%,
      #50b818 82%,
      #a838a0 82%,
      #a838a0 88%,
      #68d0a8 88%,
      #68d0a8 90%,
      #882000 90%
    );
  }
}

@font-face {
  font-family: 'Mono10Light';
  src:
    local('Mono10 Light'),
    url('/fonts/Mono10Light.otf') format('opentype');
}

@font-face {
  font-family: 'Mono10';
  src:
    local('Mono10 Regular'),
    url('/fonts/Mono10Regular.otf') format('opentype');
}

/* Keep only one of these */
@font-face {
  font-family: 'jgs5';
  src: url('/fonts/jgs5.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jgs7';
  src: url('/fonts/jgs7.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jgs9';
  src: url('/fonts/jgs9.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
